/* https://codepen.io/r_e_d_ant/pen/oNWZgpy */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================= VARIABLE ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}

/* ================= BASE ==================== */
html {
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}
.container {
  padding: 0 2rem;
}

/* -- BODY -- */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.text-1 {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.text-2 {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.text-3 {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

/* ================= HEADER ================ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  bottom: 95%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.company-logo {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin: 0 2rem;
}

.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link::before {
  content: '';
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-toggle {
  display: none;
}

.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

/* ================= FORM & IMAGE ================ */
/* https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda */

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.bg img {
  max-width: 100%;
  height: auto;
}

.showcase {
  /* height: 300px; */
  width: 75%;
  position: absolute;
  top: 30%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.showcase h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.showcase .user-box {
  position: relative;
}

.showcase .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  border-radius: 5px;
  margin-top: 1rem;
}

.showcase select {
  width: 25%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  border-radius: 5px;
  margin-top: 1rem;
}

.showcase .user-box label {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.showcase .user-box input:focus ~ label,
.showcase .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.showcase form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: hsl(9, 94%, 61%);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  margin-top: 1rem;
  border-radius: 5px;
}

.showcase button:hover {
  background: hsl(9, 94%, 61%);
  color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4; */
}

footer {
  display: flex;
  position: fixed;
  top: 95%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid white;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
}
footer ul li {
  margin-left: 5px;
}

.form-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px; /* set the margin bottom to the height of the footer */
}

.form-container form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-container label {
  margin-right: 10px;
}

.form-container input[type='text'],
.form-container select {
  margin-right: 10px;
  width: 200px;
}

.form-container button {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }

  .form-container form {
    flex-direction: column;
  }

  .form-container label,
  .form-container input[type='text'],
  .form-container select,
  .form-container button {
    margin: 10px 0;
  }
}
